Repository lydemann/GoalToLife: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

ci: added codecov + fix build
  libs/app-lib/features/plan/src/lib/daily/daily.component.ts
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.ts
  libs/app-lib/features/plan/src/lib/plan-routing.module.ts
  libs/app-lib/features/plan/src/lib/weekly/weekly-routing.module.ts
  libs/app-lib/features/plan/src/lib/weekly/weekly.component.html
  libs/app-lib/features/plan/src/lib/weekly/weekly.component.scss
  libs/app-lib/features/plan/src/lib/weekly/weekly.component.ts
  libs/app-lib/features/plan/src/lib/weekly/weekly.module.ts
  libs/app-lib/shared/ui/src/lib/calendar/classes/drop-content.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/todolist/todolist.component.html
  libs/app-lib/shared/ui/src/lib/calendar/directives/make-draggable.directive.ts
  libs/app-lib/src/lib/plan/plan-facade.service.ts
  package.json
  tools/pipelines/pull-request.yaml
  yarn.lock
Due: prettier --write, tslint --fix, stylelint --fix

chore: add codecov
  package.json
Due: none

ci: ubuntu latest for e2e
  tools/pipelines/pull-request.yaml
Due: none

ci: fix e2e ci
  package.json
Due: none

ci: fix e2e
  tools/pipelines/pull-request.yaml
Due: none

ci: e2e fix
  tools/pipelines/pull-request.yaml
Due: none

ci: run with sudo for e2e
  tools/pipelines/pull-request.yaml
Due: none

ci: change e2e os
  tools/pipelines/pull-request.yaml
Due: none

ci: fix
  tools/pipelines/pull-request.yaml
Due: none

ci: fix script
  tools/pipelines/pull-request.yaml
Due: none

ci: e2e
  tools/pipelines/pull-request.yaml
Due: none

fix: monthly goals
  apps/app/src/app/tabs/tabs-routing.module.ts
  apps/service/src/app/goal-period/goal-period.resolvers.ts
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.html
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.ts
Due: prettier --write, tslint --fix

feat: setup basic week goal periods
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.ts
  libs/app-lib/shared/ui/src/lib/calendar/calendar.module.ts
  libs/app-lib/shared/ui/src/lib/calendar/classes/day-date.ts
  libs/app-lib/shared/ui/src/lib/calendar/classes/index.ts
  libs/app-lib/shared/ui/src/lib/calendar/classes/weeks.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.scss
  libs/app-lib/shared/ui/src/lib/calendar/components/index.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.scss
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/week/week.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/week/week.component.scss
  libs/app-lib/shared/ui/src/lib/calendar/components/week/week.component.spec.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/week/week.component.ts
  libs/app-lib/shared/ui/src/lib/components/goal-period/goal-period.component.html
  libs/app-lib/shared/ui/src/lib/components/goal-period/goal-period.component.scss
  libs/app-lib/shared/ui/src/lib/components/goal-period/goal-period.component.ts
  libs/app-lib/shared/ui/src/lib/components/goal-period/goal-period.module.ts
  libs/app-lib/shared/ui/src/lib/components/goal-period/todolist/index.ts
  libs/app-lib/shared/ui/src/lib/components/goal-period/todolist/todolist.component.html
  libs/app-lib/shared/ui/src/lib/components/goal-period/todolist/todolist.component.scss
  libs/app-lib/shared/ui/src/lib/components/goal-period/todolist/todolist.component.ts
  libs/app-lib/shared/ui/src/lib/drag-and-drop/directives/drop-content.ts
  libs/app-lib/shared/ui/src/lib/drag-and-drop/directives/make-draggable.directive.ts
  libs/app-lib/shared/ui/src/lib/drag-and-drop/directives/make-droppable.directive.ts
  libs/app-lib/shared/ui/src/lib/drag-and-drop/drag-and-drop.module.ts
Due: prettier --write, tslint --fix, stylelint --fix

chore: working on add todo weekly
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  angular.json
  apps/app-e2e/tsconfig.json
  apps/app/tsconfig.json
  apps/service/tsconfig.json
  jest.config.js
  libs/app-lib/features/plan/tsconfig.json
  libs/app-lib/shared/ui/src/lib/calendar/classes/weeks.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.scss
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.ts
  libs/app-lib/shared/ui/src/lib/components/goal-period/goal-period.component.ts
  libs/app-lib/shared/ui/tsconfig.json
  libs/app-lib/src/lib/goal-utils.ts
  libs/app-lib/tsconfig.json
  libs/shared/feat-auth/tsconfig.json
  libs/shared/utils/.babelrc
  libs/shared/utils/.eslintrc.json
  libs/shared/utils/README.md
  libs/shared/utils/jest.config.js
  libs/shared/utils/src/index.ts
  libs/shared/utils/src/lib/get-weekly-number.ts
  libs/shared/utils/src/lib/index.ts
  libs/shared/utils/tsconfig.json
  libs/shared/utils/tsconfig.lib.json
  libs/shared/utils/tsconfig.spec.json
  migrations.json
  nx.json
  package.json
  tsconfig.base.json
  yarn.lock
Due: prettier --write, tslint --fix, stylelint --fix

feat: crud for weekly goal period working
  angular.json
  apps/service/src/app/goal-period/goal-period.resolvers.ts
  libs/app-lib/shared/ui/src/lib/calendar/classes/weeks.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/week/week.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/week/week.component.ts
  libs/app-lib/shared/ui/src/lib/components/goal-period/goal-period.component.ts
  libs/app-lib/shared/ui/src/lib/components/goal-period/todolist/todolist.component.html
  libs/app-lib/src/lib/app-facade/app-facade.service.ts
  libs/app-lib/src/lib/index.ts
  libs/app-lib/src/lib/plan/plan-facade.service.ts
  libs/app-lib/src/lib/plan/resource/plan-resource.service.ts
  libs/app-lib/src/lib/plan/state/goal-periods/goal-periods.query.ts
  libs/shared/utils/src/lib/goal-utils.ts
  libs/shared/utils/src/lib/index.ts
  tsconfig.base.json
Due: prettier --write, tslint --fix

style: week number
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.scss
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.ts
Due: prettier --write, tslint --fix, stylelint --fix

feat: yearly crud
  angular.json
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.html
  libs/app-lib/features/plan/src/lib/monthly/redirect-to-current-year.resolver.ts
  libs/app-lib/features/plan/src/lib/plan-routing.module.ts
  libs/app-lib/features/plan/src/lib/yearly/yearly.component.html
  libs/app-lib/features/plan/src/lib/yearly/yearly.component.ts
  libs/app-lib/features/plan/src/lib/yearly/yearly.module.ts
  libs/app-lib/shared/ui/src/lib/calendar/classes/day-date.ts
  libs/app-lib/shared/ui/src/lib/calendar/classes/weeks.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/week/week.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/week/week.component.ts
  libs/app-lib/shared/ui/src/lib/components/goal-period/goal-period.component.html
  libs/app-lib/shared/ui/src/lib/components/goal-period/goal-period.component.ts
  libs/app-lib/shared/ui/src/lib/components/goal-period/todolist/todolist.component.html
  libs/app-lib/shared/ui/src/lib/components/goal-period/todolist/todolist.component.scss
  libs/app-lib/shared/ui/src/lib/components/header/header.component.ts
  libs/app-lib/shared/ui/src/lib/components/task-group/task-group.component.html
  libs/app-lib/shared/ui/src/lib/shared.module.ts
  libs/app-lib/src/lib/plan/plan-facade.service.ts
  libs/app-lib/src/lib/plan/resource/plan-resource.service.ts
  libs/app-lib/src/lib/plan/state/goal-periods/goal-periods.query.ts
  libs/app-lib/src/lib/plan/state/goal-periods/goal-periods.store.ts
  libs/shared/interfaces/src/lib/goal-period.ts
  libs/shared/interfaces/src/lib/goal.ts
  libs/shared/utils/src/lib/goal-utils.ts
Due: prettier --write, tslint --fix, stylelint --fix

fix: select quarters
  libs/app-lib/features/plan/src/lib/yearly/yearly.component.html
  libs/app-lib/features/plan/src/lib/yearly/yearly.component.ts
Due: prettier --write, tslint --fix

chore: remove tslint
  .eslintrc.json
  .lintstagedrc
  apps/app/src/app/app.module.ts
  apps/app/src/app/inbox/inbox.module.ts
  apps/app/src/app/login/login.component.ts
  apps/app/src/app/settings/settings.component.ts
  apps/app/src/app/settings/settings.module.ts
  apps/app/src/app/tabs/tabs-routing.module.ts
  apps/app/src/app/tabs/tabs.module.ts
  apps/app/src/app/tabs/tabs.page.spec.ts
  apps/app/src/app/tabs/tabs.page.ts
  apps/app/src/main.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/todolist/todolist.component.ts
  nx.json
  package.json
  yarn.lock
Due: prettier --write, tslint --fix

chore: fix lint
  .eslintrc.json
  libs/app-lib/shared/domain/src/lib/app-facade/app-facade.service.ts
  libs/app-lib/shared/domain/src/lib/plan/plan-facade.service.spec.ts
  libs/app-lib/shared/domain/src/lib/plan/plan-facade.service.ts
  libs/app-lib/shared/domain/src/lib/plan/state/goal-periods/goal-periods.model.ts
  libs/app-lib/shared/domain/src/lib/plan/state/goal-periods/goal-periods.query.ts
Due: prettier --write, tslint --fix

chore: update capacitor
  package.json
  yarn.lock
Due: none

fix: setup sourcemaps
  angular.json
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.ts
Due: prettier --write, tslint --fix

test: fix
  libs/app-lib/shared/domain/src/lib/plan/plan-facade.service.spec.ts
  libs/app-lib/shared/domain/src/test-setup.ts
Due: prettier --write, tslint --fix

feat: setup inbox page
  angular.json
  apps/app/src/app/inbox/inbox.component.html
  apps/app/src/app/inbox/inbox.component.ts
  apps/app/src/app/tabs/tabs-routing.module.ts
  apps/service/src/app/goal-period/goal-period.resolvers.ts
  apps/service/src/app/goal-period/goal-period.schema.ts
  apps/service/src/app/schema.ts
  libs/app-lib/features/inbox/.eslintrc.json
  libs/app-lib/features/inbox/README.md
  libs/app-lib/features/inbox/jest.config.js
  libs/app-lib/features/inbox/src/index.ts
  libs/app-lib/features/inbox/src/lib/inbox-routing.module.ts
  libs/app-lib/features/inbox/src/lib/inbox.component.html
  libs/app-lib/features/inbox/src/lib/inbox.component.scss
  libs/app-lib/features/inbox/src/lib/inbox.component.ts
  libs/app-lib/features/inbox/src/lib/inbox.module.ts
  libs/app-lib/features/inbox/src/lib/index.ts
  libs/app-lib/features/inbox/src/test-setup.ts
  libs/app-lib/features/inbox/tsconfig.json
  libs/app-lib/features/inbox/tsconfig.lib.json
  libs/app-lib/features/inbox/tsconfig.spec.json
  libs/app-lib/features/plan/src/lib/daily/daily.component.ts
  libs/app-lib/shared/domain/src/lib/app-facade/app-facade.service.ts
  libs/app-lib/shared/domain/src/lib/inbox/inbox-facade.service.ts
  libs/app-lib/shared/domain/src/lib/index.ts
  libs/app-lib/shared/domain/src/lib/plan/plan-facade.service.ts
  libs/app-lib/shared/domain/src/lib/plan/resource/plan-resource.service.ts
  libs/app-lib/shared/ui/src/lib/components/task-group/task-group.component.ts
  libs/app-lib/shared/ui/src/lib/components/task/task.component.ts
  libs/shared/domain/src/lib/interfaces/index.ts
  libs/shared/domain/src/lib/interfaces/task.ts
  nx.json
  tsconfig.base.json
Due: prettier --write, tslint --fix, stylelint --fix

feat: inbox
  apps/service/src/app/goal-period/goal-period.resolvers.ts
  libs/app-lib/features/inbox/src/lib/inbox-routing.module.ts
  libs/app-lib/features/inbox/src/lib/inbox.component.html
  libs/app-lib/features/inbox/src/lib/inbox.component.ts
  libs/app-lib/features/inbox/src/lib/inbox.resolver.ts
  libs/app-lib/features/inbox/tsconfig.lib.json
  libs/app-lib/features/plan/src/lib/monthly/monthly-routing.module.ts
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.ts
  libs/app-lib/features/plan/src/lib/monthly/monthly.resolver.ts
  libs/app-lib/shared/domain/src/lib/inbox/inbox-facade.service.ts
  libs/app-lib/shared/domain/src/lib/inbox/state/inbox.model.ts
  libs/app-lib/shared/domain/src/lib/inbox/state/inbox.query.ts
  libs/app-lib/shared/domain/src/lib/inbox/state/inbox.store.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.ts
  libs/app-lib/shared/ui/src/lib/components/edit-goal-modal/edit-goal-modal.component.html
  libs/app-lib/shared/ui/src/lib/components/edit-goal-modal/edit-goal-modal.component.ts
Due: prettier --write, tslint --fix

feat: setup categories select
  .eslintrc.json
  apps/app/src/app/app.module.ts
  apps/service/src/app/goal-period/goal-period.resolvers.ts
  apps/service/src/app/goal-period/goal-period.schema.ts
  libs/app-lib/shared/domain/src/lib/inbox/inbox-facade.service.ts
  libs/app-lib/shared/domain/src/lib/plan/plan-facade.service.ts
  libs/app-lib/shared/domain/src/lib/plan/resource/plan-resource.service.ts
  libs/app-lib/shared/ui/src/lib/components/edit-goal-modal/edit-goal-modal.component.html
  libs/app-lib/shared/ui/src/lib/components/edit-goal-modal/edit-goal-modal.component.ts
  libs/app-lib/shared/ui/src/lib/components/edit-goal-modal/edit-goal-modal.module.ts
  package.json
  yarn.lock
Due: prettier --write, tslint --fix

feat: setup categories select
  libs/app-lib/shared/domain/src/lib/plan/plan-facade.service.ts
  libs/app-lib/shared/domain/src/lib/plan/state/goal-periods/goal-periods.query.ts
  libs/app-lib/shared/ui/src/lib/components/edit-goal-modal/edit-goal-modal.component.ts
Due: prettier --write, tslint --fix

feat: implemented filtering logic
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.html
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.ts
  libs/app-lib/shared/domain/src/lib/plan/plan-facade.service.ts
  libs/app-lib/shared/domain/src/lib/plan/state/goal-periods/goal-periods.model.ts
  libs/app-lib/shared/domain/src/lib/plan/state/goal-periods/goal-periods.query.ts
  libs/app-lib/shared/domain/src/lib/plan/state/goal-periods/goal-periods.store.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.ts
  libs/app-lib/shared/ui/src/lib/components/header/header.component.html
  libs/app-lib/shared/ui/src/lib/components/header/header.component.ts
Due: prettier --write, tslint --fix

fix: auto complete
  libs/app-lib/shared/ui/src/lib/components/edit-goal-modal/edit-goal-modal.component.html
  libs/app-lib/shared/ui/src/lib/components/edit-goal-modal/edit-goal-modal.component.ts
Due: prettier --write, tslint --fix

fix: scroll to day
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.ts
Due: prettier --write, tslint --fix

fix: trackby
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.ts
Due: prettier --write, tslint --fix

test: fix
  angular.json
  libs/app-lib/features/plan/jest.config.js
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.spec.ts
  libs/app-lib/shared/domain/src/lib/plan/plan-facade.service.spec.ts
  libs/app-lib/shared/domain/src/lib/plan/state/goal-periods/goal-periods.query.ts
  libs/app-lib/shared/domain/tsconfig.json
  libs/app-lib/shared/ui/jest.config.js
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/week/week.component.ts
  libs/app-lib/shared/ui/src/lib/components/goal-period/goal-period.component.ts
  libs/app-lib/shared/ui/src/test-setup.ts
  libs/shared/domain-auth/jest.config.js
  libs/shared/domain-auth/src/lib/shared-feature-auth.module.spec.ts
  libs/shared/domain/src/lib/goal-utils.ts
  libs/shared/domain/src/lib/index.ts
  nx.json
  package.json
Due: prettier --write, tslint --fix

fix: build
  libs/app-lib/shared/domain/src/lib/plan/resource/plan-resource.service.ts
  libs/shared/util/src/lib/index.ts
Due: prettier --write, tslint --fix

test: fix
  libs/app-lib/shared/domain/src/lib/plan/state/goal-periods/goal-periods.query.ts
Due: prettier --write, tslint --fix

ci: fix build
  apps/service/src/app/goal-period/goal-period.resolvers.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.ts
  libs/app-lib/shared/ui/src/lib/components/edit-goal-modal/edit-goal-modal.component.ts
  libs/shared/domain/src/lib/goal-utils.ts
Due: prettier --write, tslint --fix

ci: run tests in parallel
  package.json
Due: none

ci: add firebase files to app
  angular.json
  apps/app/src/.firebaserc
  apps/app/src/firebase.json
Due: prettier --write

Path conditions:
  prettier --write: any of: {apps,libs}/**/*.{ts,json,md,scss,html}
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
