Repository lydemann/GoalToLife: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

.lintstagedrc:

{
	"{apps,libs}/**/*.{ts,json,md,scss,html}": [
		"prettier --write",
	],
	"*.ts": [
		"tslint --fix",
	],
	"*.scss": [
		"stylelint --fix",
	]
}

chore: pre commit
  .husky/commit-msg
  .huskyrc
Due: none

chore: test pr
  package.json
Due: none

chore: testpr
  package.json
Due: none

test: fix
  libs/app-lib/src/lib/app-facade/app-facade.service.spec.ts
Due: prettier --write, tslint --fix

chore: test fix
  apps/app/karma.conf.js
  karma.conf.js
  package.json
  yarn.lock
Due: none

feat: setup of graphql service
  .firebaserc
  angular.json
  apps/app/src/app/plan/monthly/monthly.component.html
  apps/app/src/app/plan/quarterly/quarterly.component.html
  apps/app/src/app/plan/weekly/weekly.component.html
  apps/app/src/app/plan/weekly/weekly.component.ts
  apps/app/src/app/plan/yearly/yearly.component.html
  apps/service/jest.config.js
  apps/service/src/app/.gitkeep
  apps/service/src/app/auth-identity.ts
  apps/service/src/app/firestore.ts
  apps/service/src/app/goal/goal-resolvers.ts
  apps/service/src/app/goal/goal-schema.ts
  apps/service/src/app/resolvers.ts
  apps/service/src/app/schema.ts
  apps/service/src/app/server.ts
  apps/service/src/app/utils/create-resolver.ts
  apps/service/src/assets/.gitkeep
  apps/service/src/environments/environment.prod.ts
  apps/service/src/environments/environment.ts
  apps/service/src/firebase.json
  apps/service/src/main.ts
  apps/service/tsconfig.app.json
  apps/service/tsconfig.json
  apps/service/tsconfig.spec.json
  apps/service/tslint.json
  firebase.json
  jest.config.js
  libs/app-lib/src/lib/app-facade/app-facade.service.ts
  libs/shared/interfaces/src/lib/goal.ts
  libs/shared/interfaces/src/lib/task-period.ts
  libs/shared/interfaces/src/lib/task.ts
  nx.json
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write, tslint --fix

feat: setup apollo graphql + getGoals
  apps/app/src/app/app.module.ts
  apps/app/src/app/core/core.module.ts
  apps/app/src/app/explore-container/explore-container.component.html
  apps/app/src/app/explore-container/explore-container.component.scss
  apps/app/src/app/explore-container/explore-container.component.spec.ts
  apps/app/src/app/explore-container/explore-container.component.ts
  apps/app/src/app/explore-container/explore-container.module.ts
  apps/app/src/app/interfaces/user-options.ts
  apps/app/src/app/plan/daily/daily.component.html
  apps/app/src/app/plan/daily/daily.component.ts
  apps/app/src/app/shared/components/task/task.component.ts
  apps/app/src/app/shared/resolvers/goals.resolver.ts
  apps/app/src/app/tab2/tab2-routing.module.ts
  apps/app/src/app/tab2/tab2.module.ts
  apps/app/src/app/tab2/tab2.page.html
  apps/app/src/app/tab2/tab2.page.scss
  apps/app/src/app/tab2/tab2.page.spec.ts
  apps/app/src/app/tab2/tab2.page.ts
  apps/app/src/app/tab3/tab3-routing.module.ts
  apps/app/src/app/tab3/tab3.module.ts
  apps/app/src/app/tab3/tab3.page.html
  apps/app/src/app/tab3/tab3.page.scss
  apps/app/src/app/tab3/tab3.page.spec.ts
  apps/app/src/app/tab3/tab3.page.ts
  apps/app/src/environments/environment.prod.ts
  apps/app/src/environments/environment.ts
  apps/service/src/app/goal/goal-resolvers.ts
  firebase.json
  libs/app-lib/src/lib/app-facade/app-facade.service.ts
  libs/app-lib/src/lib/graphql/endpoints.ts
  libs/app-lib/src/lib/graphql/graphql-helpers.ts
  libs/app-lib/src/lib/graphql/graphql.module.ts
  libs/app-lib/src/lib/graphql/index.ts
  libs/app-lib/src/lib/index.ts
  package.json
  yarn.lock
Due: prettier --write, tslint --fix, stylelint --fix

feat: create and delete goal
  apps/app/src/app/inbox/inbox.component.ts
  apps/app/src/app/plan/daily/daily.component.html
  apps/app/src/app/plan/daily/daily.component.ts
  apps/app/src/app/shared/components/task/task.component.ts
  apps/service/src/app/goal/goal-resolvers.ts
  apps/service/src/app/goal/goal-schema.ts
  apps/service/src/app/resolvers.ts
  apps/service/src/app/schema.ts
  apps/service/src/app/server.ts
  libs/app-lib/src/lib/apollo/endpoints.ts
  libs/app-lib/src/lib/apollo/graphql-helpers.ts
  libs/app-lib/src/lib/apollo/graphql.module.ts
  libs/app-lib/src/lib/apollo/index.ts
  libs/app-lib/src/lib/app-facade/app-facade.service.ts
Due: prettier --write, tslint --fix

feat: delete goal
  apps/service/src/app/goal/goal-resolvers.ts
Due: prettier --write, tslint --fix

fix: delete goal + min width
  apps/service/src/app/goal/goal-schema.ts
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.html
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.scss
  libs/app-lib/shared/ui/src/lib/calendar/calendar.module.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/todolist/todolist.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/todolist/todolist.component.scss
  libs/app-lib/shared/ui/src/lib/calendar/components/todolist/todolist.component.ts
  libs/app-lib/src/lib/plan/resource/plan-resource.service.spec.ts
  libs/app-lib/src/lib/plan/resource/plan-resource.service.ts
  libs/app-lib/src/lib/plan/resources/plan-resource.service.spec.ts
Due: prettier --write, tslint --fix, stylelint --fix

chore: fix import
  libs/app-lib/src/lib/plan/plan-facade.service.ts
Due: prettier --write, tslint --fix

feat: working with akita
  .stylelintrc.json
  angular.json
  apps/app/src/app/app.module.ts
  apps/service/src/app/goal/goal-resolvers.ts
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.html
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.scss
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.scss
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/todolist/todolist.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/todolist/todolist.component.scss
  libs/app-lib/shared/ui/src/lib/calendar/components/todolist/todolist.component.ts
  libs/app-lib/shared/ui/src/lib/components/edit-goal-modal/edit-goal-modal.component.html
  libs/app-lib/shared/ui/src/lib/components/edit-goal-modal/edit-goal-modal.component.scss
  libs/app-lib/shared/ui/src/lib/components/edit-goal-modal/edit-goal-modal.component.ts
  libs/app-lib/shared/ui/src/lib/components/edit-goal-modal/edit-goal-modal.module.ts
  libs/app-lib/shared/ui/src/lib/components/edit-goal-modal/index.ts
  libs/app-lib/shared/ui/src/lib/components/index.ts
  libs/app-lib/src/lib/plan/plan-facade.service.ts
  libs/app-lib/src/lib/plan/resource/plan-resource.service.ts
  libs/app-lib/src/lib/plan/state/entity-state.model.ts
  libs/app-lib/src/lib/plan/state/goal-periods/goal-periods.model.ts
  libs/app-lib/src/lib/plan/state/goal-periods/goal-periods.query.ts
  libs/app-lib/src/lib/plan/state/goal-periods/goal-periods.store.ts
  libs/app-lib/src/lib/plan/state/goals/goals.query.ts
  libs/app-lib/src/lib/plan/state/goals/goals.store.ts
  libs/app-lib/src/lib/plan/state/plan-state.model.ts
  libs/app-lib/src/lib/plan/state/plan-state.service.ts
  libs/shared/interfaces/src/lib/goal-period.ts
  package.json
  yarn.lock
Due: prettier --write, tslint --fix, stylelint --fix

feat: update goals
  apps/service/src/app/goal/goal-resolvers.ts
  apps/service/src/app/goal/goal-schema.ts
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.html
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/todolist/todolist.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/todolist/todolist.component.ts
  libs/app-lib/shared/ui/src/lib/components/edit-goal-modal/edit-goal-modal.component.ts
  libs/app-lib/src/lib/plan/plan-facade.service.ts
  libs/app-lib/src/lib/plan/resource/plan-resource.service.ts
  libs/app-lib/src/lib/plan/state/goal-periods/goal-periods.model.ts
  libs/app-lib/src/lib/plan/state/goal-periods/goal-periods.query.ts
  libs/app-lib/src/lib/plan/state/goal-periods/goal-periods.store.ts
Due: prettier --write, tslint --fix

test: fix tests
  libs/app-lib/shared/ui/src/lib/calendar/components/calendar-header/calendar-header.component.spec.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.spec.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.spec.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/todolist/todolist.component.spec.ts
  libs/app-lib/shared/ui/src/lib/calendar/directives/make-draggable.directive.spec.ts
  libs/app-lib/shared/ui/src/lib/calendar/directives/make-droppable.directive.spec.ts
  libs/app-lib/shared/ui/src/lib/calendar/services/todo.service.spec.ts
  libs/app-lib/src/lib/app-facade/app-facade.service.spec.ts
  libs/app-lib/src/lib/plan/plan-facade.service.spec.ts
  libs/app-lib/src/lib/plan/resource/plan-resource.service.spec.ts
  libs/app-lib/src/lib/plan/state/plan-state.service.spec.ts
Due: prettier --write, tslint --fix

test: fix
  libs/app-lib/src/lib/app-facade/app-facade.service.spec.ts
  libs/app-lib/src/lib/plan/plan-facade.service.spec.ts
  libs/app-lib/src/lib/plan/resource/plan-resource.service.spec.ts
Due: prettier --write, tslint --fix

feat: update goal period working
  apps/service/src/app/goal-period/goal-period.resolvers.ts
  apps/service/src/app/goal-period/goal-period.schema.ts
  apps/service/src/app/resolvers.ts
  apps/service/src/app/schema.ts
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.html
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.ts
  libs/app-lib/shared/ui/src/lib/calendar/classes/day-date.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.scss
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/todolist/todolist.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/todolist/todolist.component.ts
  libs/app-lib/shared/ui/src/lib/components/edit-goal-modal/edit-goal-modal.component.html
  libs/app-lib/src/lib/plan/plan-facade.service.ts
  libs/app-lib/src/lib/plan/resource/plan-resource.service.ts
  libs/shared/interfaces/src/lib/goal-period.ts
Due: prettier --write, tslint --fix, stylelint --fix

feat: persist in local storage + week numbers
  apps/app/src/main.ts
  libs/app-lib/shared/ui/src/lib/calendar/classes/weeks.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.ts
Due: prettier --write, tslint --fix

chore: fix retro types and setup ui for repeat
  apps/service/src/app/goal-period/goal-period.resolvers.ts
  apps/service/src/app/goal-period/goal-period.schema.ts
  libs/app-lib/features/plan/src/lib/plan-routing.module.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.scss
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.scss
  libs/app-lib/shared/ui/src/lib/calendar/components/todolist/todolist.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/todolist/todolist.component.ts
  libs/app-lib/shared/ui/src/lib/components/edit-goal-modal/edit-goal-modal.component.html
  libs/app-lib/src/lib/plan/plan-facade.service.ts
  libs/app-lib/src/lib/plan/resource/plan-resource.service.ts
  libs/app-lib/src/lib/plan/state/goal-periods/goal-periods.store.ts
  libs/shared/interfaces/src/lib/goal.ts
Due: prettier --write, tslint --fix, stylelint --fix

chore: shorter save debounce time
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.ts
Due: prettier --write, tslint --fix

feat: handle auth
  apps/app/src/app/app.module.ts
  apps/app/src/index.html
  apps/service/src/app/auth-identity.ts
  apps/service/src/app/goal-period/goal-period.resolvers.ts
  apps/service/src/app/server.ts
  libs/shared/feat-auth/src/index.ts
  libs/shared/feat-auth/src/lib/auth/access-token.interceptor.ts
  libs/shared/feat-auth/src/lib/shared-feat-auth.module.ts
Due: prettier --write, tslint --fix

feat: add monthly goals
  apps/service/src/app/goal-period/goal-period.resolvers.ts
  apps/service/src/app/goal-period/goal-period.schema.ts
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.html
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.ts
  libs/app-lib/features/plan/src/lib/monthly/monthly.module.ts
  libs/app-lib/features/plan/src/lib/monthly/redirect-to-current-month.resolver.ts
  libs/app-lib/features/plan/src/lib/plan-routing.module.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/todolist/todolist.component.ts
  libs/app-lib/shared/ui/src/lib/components/task-group/task-group.component.html
  libs/app-lib/shared/ui/src/lib/components/task-group/task-group.component.scss
  libs/app-lib/shared/ui/src/lib/components/task-group/task-group.component.ts
  libs/app-lib/shared/ui/src/lib/components/task-group/task-group.module.ts
  libs/app-lib/shared/ui/src/lib/utils/goal-utils.ts
  libs/app-lib/src/lib/plan/index.ts
  libs/app-lib/src/lib/plan/plan-facade.service.ts
  libs/app-lib/src/lib/plan/plan.constants.ts
  libs/app-lib/src/lib/plan/resource/plan-resource.service.ts
  libs/app-lib/src/lib/plan/state/goal-periods/goal-periods.query.ts
  libs/app-lib/src/lib/plan/state/goal-periods/goal-periods.store.ts
  libs/shared/interfaces/src/lib/goal-period.ts
Due: prettier --write, tslint --fix, stylelint --fix

fix: highlight current day
  apps/service/src/app/goal-period/goal-period.resolvers.ts
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.ts
Due: prettier --write, tslint --fix

chore: edit monthly goal
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.html
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.integration.spec.ts
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.scss
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.ts
  libs/app-lib/shared/ui/src/lib/components/edit-goal-modal/edit-goal-modal.component.html
  libs/app-lib/shared/ui/src/lib/components/task-group/task-group.component.html
  libs/app-lib/shared/ui/src/lib/components/task-group/task-group.component.ts
  libs/app-lib/shared/ui/src/lib/components/task/task.component.html
Due: prettier --write, tslint --fix, stylelint --fix

style: show header
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.scss
Due: prettier --write, stylelint --fix

chore: remove e2e protractor + integration test
  angular.json
  apps/app-e2e/protractor.conf.js
  apps/app-e2e/src/app.e2e-spec.ts
  apps/app-e2e/src/app.po.ts
  apps/app-e2e/tab1/tab1-routing.module.ts
  apps/app-e2e/tab1/tab1.module.ts
  apps/app-e2e/tab1/tab1.page.html
  apps/app-e2e/tab1/tab1.page.scss
  apps/app-e2e/tab1/tab1.page.spec.ts
  apps/app-e2e/tab1/tab1.page.ts
  apps/app-e2e/tsconfig.json
  libs/app-lib/features/plan/jest.config.js
  libs/app-lib/features/plan/src/index.ts
  libs/app-lib/features/plan/src/lib/monthly/__snapshots__/monthly.component.integration.spec.ts.snap
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.html
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.integration.spec.ts
  libs/app-lib/features/plan/src/test-setup.ts
  libs/app-lib/features/plan/tsconfig.json
  libs/app-lib/features/plan/tsconfig.spec.json
  libs/app-lib/shared/ui/src/lib/components/task-group/task-group.component.html
  package.json
Due: prettier --write, tslint --fix, stylelint --fix

test: setup e2e test
  angular.json
  apps/app-e2e/.eslintrc.json
  apps/app-e2e/cypress.json
  apps/app-e2e/src/fixtures/example.json
  apps/app-e2e/src/integration/plan/monthly/monthly.spec.ts
  apps/app-e2e/src/plugins/index.js
  apps/app-e2e/src/support/commands.ts
  apps/app-e2e/src/support/index.ts
  apps/app-e2e/src/support/login.po.ts
  apps/app-e2e/src/support/monthly/monthly.po.ts
  apps/app-e2e/tsconfig.e2e.json
  apps/app-e2e/tsconfig.json
  apps/app/src/app/login/login.component.html
  apps/app/src/environments/environment.prod.ts
  apps/app/src/environments/environment.ts
  e2e-seed/auth_export/accounts.json
  e2e-seed/auth_export/config.json
  e2e-seed/firebase-export-metadata.json
  e2e-seed/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  e2e-seed/firestore_export/all_namespaces/all_kinds/output-0
  e2e-seed/firestore_export/firestore_export.overall_export_metadata
  firebase.json
  jest.config.js
  libs/shared/feat-auth/src/lib/auth/access-token.interceptor.ts
  libs/shared/feat-auth/src/lib/auth/auth.service.ts
  package.json
  yarn.lock
Due: prettier --write, tslint --fix

test: remove integration
  libs/app-lib/features/plan/src/lib/monthly/__snapshots__/monthly.component.integration.spec.ts.snap
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.integration.spec.ts
Due: prettier --write, tslint --fix

fix: functions port
  apps/app/src/environments/environment.prod.ts
  apps/app/src/environments/environment.ts
  firebase.json
Due: prettier --write, tslint --fix

test: monthly integration tests
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.spec.ts
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.ts
  libs/app-lib/features/plan/src/lib/plan-routing.module.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.scss
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.ts
  libs/app-lib/shared/ui/src/lib/components/task-group/task-group.component.html
  libs/app-lib/shared/ui/src/lib/components/task/task.component.html
  libs/app-lib/src/lib/plan/state/goal-periods/goal-periods.query.ts
  package.json
  yarn.lock
Due: prettier --write, tslint --fix, stylelint --fix

fix: plan routing
  libs/app-lib/features/plan/src/lib/plan-routing.module.ts
Due: prettier --write, tslint --fix

test: setup
  apps/app-e2e/cypress.json
  apps/app-e2e/src/integration/plan/monthly/monthly.spec.ts
  apps/app-e2e/src/support/monthly/monthly.po.ts
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.spec.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.ts
  libs/app-lib/shared/ui/src/lib/components/edit-goal-modal/edit-goal-modal.component.html
  libs/app-lib/shared/ui/src/lib/components/task/task.component.html
  libs/app-lib/shared/ui/src/lib/index.ts
  libs/app-lib/shared/ui/src/lib/utils/index.ts
  libs/app-lib/src/lib/app-facade/app-facade.service.ts
  libs/app-lib/src/lib/goal-utils.ts
  libs/app-lib/src/lib/graphql/graphql.module.ts
  libs/app-lib/src/lib/index.ts
  libs/app-lib/src/lib/plan/plan-facade.service.spec.ts
  libs/app-lib/src/lib/plan/plan-facade.service.ts
  libs/app-lib/src/lib/plan/resource/plan-resource.service.ts
  libs/app-lib/src/lib/plan/state/goal-periods/goal-periods.query.ts
  libs/app-lib/src/lib/plan/state/plan-state.model.ts
  libs/app-lib/tsconfig.spec.json
  tslint.json
Due: prettier --write, tslint --fix

test: fix
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.spec.ts
  libs/app-lib/src/lib/plan/state/goal-periods/goal-periods.query.ts
Due: prettier --write, tslint --fix

test: fix
  libs/app-lib/features/plan/jest.config.js
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.spec.ts
  libs/app-lib/jest.config.js
Due: prettier --write, tslint --fix

ci: setup ci
  tools/pipelines/prepare-release.yml
  tools/pipelines/pull-request.yaml
  tools/pipelines/scripts/build-affected.ps1
  tools/pipelines/scripts/create-affected-apps-txt.ps1
  tools/pipelines/scripts/read-and-tag-affected-apps-in-artifact.ps1
  tools/pipelines/scripts/set-last-merged-pr-commit-sha.js
  tools/pipelines/scripts/tags-for-affected-apps.ps1
  tools/pipelines/templates/npm-setup.yml
  tools/pipelines/templates/publish-artifacts.yml
Due: none

ci: auto merge
  .github/workflows/automerge.yml
  .github/workflows/merge-queue.yml
Due: none
