Repository lydemann/GoalToLife: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

ci: fix repo to read sha from
  apps/app/src/firebase.json
  tools/pipelines/scripts/set-last-merged-pr-commit-sha.js
Due: prettier --write

Setup-ci (#5)
  angular.json
  apps/app/src/.firebaserc
  apps/app/src/firebase.json
  tools/pipelines/scripts/set-last-merged-pr-commit-sha.js
Due: prettier --write

chore: pr ci
  tools/pipelines/pull-request.yaml
Due: none

fix: wrong pipeline id
  tools/pipelines/prepare-release.yml
Due: none

ci: deploy service
  angular.json
  apps/service/src/.firebaserc
  apps/service/src/firebase.json
  firebase.json
  package.json
  webpack.node.config.js
  yarn.lock
Due: prettier --write

chore: outcomment emulator
  libs/shared/domain-auth/src/lib/auth/auth.service.ts
Due: prettier --write, tslint --fix

chore: add comment
  libs/shared/domain-auth/src/lib/auth/auth.service.ts
Due: prettier --write, tslint --fix

chore: update yarn lock
  yarn.lock
Due: none

chore: pr ci (#6)
  angular.json
  apps/service/src/.firebaserc
  apps/service/src/firebase.json
  firebase.json
  libs/shared/domain-auth/src/lib/auth/auth.service.ts
  package.json
  tools/pipelines/prepare-release.yml
  tools/pipelines/pull-request.yaml
  webpack.node.config.js
  yarn.lock
Due: prettier --write, tslint --fix

fix: app deploy
  apps/app/src/.firebaserc
  apps/app/src/firebase.json
Due: prettier --write

Fix-ci (#7)
  apps/app/src/.firebaserc
  apps/app/src/firebase.json
Due: prettier --write

chore: tests are working
  .eslintrc.json
  jest.config.js
  libs/app-lib/features/plan/.babelrc
  libs/app-lib/features/plan/jest.config.js
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.spec.ts
  libs/app-lib/features/plan/src/test-setup.ts
  libs/app-lib/features/plan/tsconfig.json
  libs/app-lib/features/plan/tsconfig.lib.json
  libs/app-lib/features/plan/tsconfig.spec.json
  package.json
  tsconfig.base.json
  yarn.lock
Due: prettier --write, tslint --fix

test: fix
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.spec.ts
Due: prettier --write, tslint --fix

chore: added null checks
  libs/app-lib/shared/domain/src/lib/plan/plan-facade.service.ts
  libs/app-lib/shared/domain/src/lib/plan/state/goal-periods/goal-periods.query.ts
Due: prettier --write, tslint --fix

chore: update yarn
  package.json
  yarn.lock
Due: none

Fix-ci (#8)
  .eslintrc.json
  jest.config.js
  libs/app-lib/features/plan/.babelrc
  libs/app-lib/features/plan/jest.config.js
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.spec.ts
  libs/app-lib/features/plan/src/test-setup.ts
  libs/app-lib/features/plan/tsconfig.json
  libs/app-lib/features/plan/tsconfig.lib.json
  libs/app-lib/features/plan/tsconfig.spec.json
  libs/app-lib/shared/domain/src/lib/plan/plan-facade.service.ts
  libs/app-lib/shared/domain/src/lib/plan/state/goal-periods/goal-periods.query.ts
  package.json
  tsconfig.base.json
  yarn.lock
Due: prettier --write, tslint --fix

chore: add env file
  apps/service/src/assets/env.json
Due: prettier --write

fix: url
  apps/app/src/environments/environment.prod.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.scss
Due: prettier --write, tslint --fix, stylelint --fix

Fix-prod-url (#10)
  apps/app/src/environments/environment.prod.ts
  apps/service/src/assets/env.json
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.scss
Due: prettier --write, tslint --fix, stylelint --fix

chore: fix colors
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.scss
  libs/shared/ui/styles/src/lib/global-styling.scss
  libs/shared/ui/styles/src/lib/themes/theme-common.scss
  package.json
  yarn.lock
Due: prettier --write, stylelint --fix

chore: fix colors (#11)
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.scss
  libs/shared/ui/styles/src/lib/global-styling.scss
  libs/shared/ui/styles/src/lib/themes/theme-common.scss
  package.json
  yarn.lock
Due: prettier --write, stylelint --fix

chore: disable scroll assist to fix scroll x problem
  apps/app/src/app/app.module.ts
  package.json
  yarn.lock
Due: prettier --write, tslint --fix

Fix-scrollx-reset (#12)
  apps/app/src/app/app.module.ts
  package.json
  yarn.lock
Due: prettier --write, tslint --fix

fix: bugs
  ios/App/App.xcodeproj/project.pbxproj
  ios/App/App/Base.lproj/LaunchScreen.storyboard
  ios/App/App/capacitor.config.json
  ios/App/Podfile
  libs/app-lib/shared/domain/src/lib/inbox/state/inbox.query.ts
  package.json
  yarn.lock
Due: prettier --write, tslint --fix

ci: updated pool
  tools/pipelines/prepare-release.yml
  tools/pipelines/pull-request.yaml
Due: none

Fix-bugs (#13)
  ios/App/App.xcodeproj/project.pbxproj
  ios/App/App/Base.lproj/LaunchScreen.storyboard
  ios/App/App/capacitor.config.json
  ios/App/Podfile
  libs/app-lib/shared/domain/src/lib/inbox/state/inbox.query.ts
  package.json
  tools/pipelines/prepare-release.yml
  tools/pipelines/pull-request.yaml
  yarn.lock
Due: prettier --write, tslint --fix

chore: setup service workers
  angular.json
  apps/app/ngsw-config.json
  apps/app/src/app/app.module.ts
  apps/app/src/assets/icons/icon-128x128.png
  apps/app/src/assets/icons/icon-144x144.png
  apps/app/src/assets/icons/icon-152x152.png
  apps/app/src/assets/icons/icon-192x192.png
  apps/app/src/assets/icons/icon-384x384.png
  apps/app/src/assets/icons/icon-512x512.png
  apps/app/src/assets/icons/icon-72x72.png
  apps/app/src/assets/icons/icon-96x96.png
  apps/app/src/index.html
  apps/app/src/manifest.webmanifest
  package.json
  yarn.lock
Due: prettier --write, tslint --fix

Pwa (#14)
  angular.json
  apps/app/ngsw-config.json
  apps/app/src/app/app.module.ts
  apps/app/src/assets/icons/icon-128x128.png
  apps/app/src/assets/icons/icon-144x144.png
  apps/app/src/assets/icons/icon-152x152.png
  apps/app/src/assets/icons/icon-192x192.png
  apps/app/src/assets/icons/icon-384x384.png
  apps/app/src/assets/icons/icon-512x512.png
  apps/app/src/assets/icons/icon-72x72.png
  apps/app/src/assets/icons/icon-96x96.png
  apps/app/src/index.html
  apps/app/src/manifest.webmanifest
  package.json
  yarn.lock
Due: prettier --write, tslint --fix

fix: close modal
  apps/app/src/app/app.module.ts
  libs/app-lib/features/plan/src/lib/yearly/yearly.component.ts
  libs/app-lib/shared/ui/src/lib/components/edit-goal-modal/edit-goal-modal.component.html
  libs/app-lib/shared/ui/src/lib/components/edit-goal-modal/edit-goal-modal.component.ts
Due: prettier --write, tslint --fix

feat(app): implement local reordering
  apps/app/src/global.scss
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.html
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.ts
  libs/app-lib/shared/domain/src/lib/plan/plan-facade.service.ts
  libs/app-lib/shared/domain/src/lib/plan/resource/plan-resource.service.ts
  libs/app-lib/shared/domain/src/lib/plan/state/goal-periods/goal-periods.query.ts
  libs/app-lib/shared/domain/src/lib/plan/state/goal-periods/goal-periods.store.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.html
  libs/app-lib/shared/ui/src/lib/calendar/components/month/month.component.ts
  libs/app-lib/shared/ui/src/lib/components/goal-period/goal-period.component.html
  libs/app-lib/shared/ui/src/lib/components/goal-period/goal-period.component.ts
  libs/app-lib/shared/ui/src/lib/components/goal-period/todolist/todolist.component.html
  libs/app-lib/shared/ui/src/lib/components/goal-period/todolist/todolist.component.ts
  libs/app-lib/shared/ui/src/lib/drag-and-drop/directives/drop-content.ts
  libs/app-lib/shared/ui/src/lib/drag-and-drop/directives/index.ts
  libs/app-lib/shared/ui/src/lib/drag-and-drop/directives/make-draggable.directive.ts
  libs/app-lib/shared/ui/src/lib/drag-and-drop/directives/make-droppable.directive.ts
  libs/app-lib/shared/ui/src/lib/drag-and-drop/index.ts
  libs/app-lib/shared/ui/src/lib/index.ts
Due: prettier --write, tslint --fix, stylelint --fix

fix: change date
  libs/app-lib/features/plan/src/lib/monthly/monthly.component.ts
  libs/app-lib/features/plan/src/lib/yearly/yearly.component.html
  libs/app-lib/features/plan/src/lib/yearly/yearly.component.ts
  libs/app-lib/shared/domain/src/lib/plan/plan-facade.service.ts
  libs/app-lib/shared/ui/src/lib/calendar/components/calendar-header/calendar-header.component.ts
Due: prettier --write, tslint --fix

fix: highlighted day
  libs/app-lib/shared/ui/src/lib/calendar/components/day/day.component.ts
Due: prettier --write, tslint --fix

chore: fix goal periods query
  libs/shared/domain/src/lib/goal-utils.ts
Due: prettier --write, tslint --fix

chore: denormalize goals
  apps/app/src/app/app.module.ts
  apps/app/src/main.ts
  apps/service/src/app/goal-period/goal-period.resolvers.ts
  libs/shared/domain/src/lib/interfaces/goal-period.ts
Due: prettier --write, tslint --fix

chore: disable local storage
  apps/app/src/main.ts
Due: prettier --write, tslint --fix

fix: delete goal
  apps/service/src/app/goal-period/goal-period.resolvers.ts
  apps/service/src/app/goal-period/goal-period.schema.ts
  libs/app-lib/shared/domain/src/lib/plan/resource/plan-resource.service.ts
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: any of: {apps,libs}/**/*.{ts,json,md,scss,html}
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
